@import "tailwindcss";

@layer theme {
  :root {
    --background: #F8FAFC;
    /* slate-50 */
    --foreground: #0F172A;
    /* slate-900 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}